@import "myBreakpoints";
@import "myHeaderFunction";

// variables dealing with nav bar
$base-border-radius: 3px !default;
$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$centered-navigation-padding: 1em;
$centered-navigation-logo-height: 2em;
$centered-navigation-background: #E7F1EC;
$centered-navigation-color: transparentize($base-font-color, 0.3);
$centered-navigation-color-hover: $base-font-color;
$centered-navigation-height: 60px;
$centered-navigation-item-padding: 1em;
$centered-navigation-submenu-padding: 1em;
$centered-navigation-submenu-width: 12em;
$centered-navigation-item-nudge: 2.2em;
$horizontal-bar-mode: $large-screen;

// variables dealing with side image
$base-line-height: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$side-image-background-top: #B5EBEB;
$side-image-background-bottom: #5DAC5D;
$side-image-content-background: lighten($dark-gray, 40%);
$side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

// variables for dealing with footer
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$medium-screen: 40em !default;
$large-screen: 53.75em !default;
$footer-background: desaturate(darken($action-color, 20%), 30%);
$footer-color: white;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.6);

// variables for accordion
$base-border-color: gainsboro !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$dark-gray: #333 !default;
$base-font-color: $dark-gray !default;
$accordion-menu-border-color: $base-border-color;
$accordion-menu-color: $base-font-color;
$accordion-menu-border: 1px solid $accordion-menu-border-color;
$accordion-menu-background: lighten($accordion-menu-border-color, 10%);
$accordion-menu-hover: lighten($accordion-menu-background, 2%);
$accordion-menu-sub-background: darken($accordion-menu-background, 5%);
$accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6%);
$accordion-menu-sub-hover: lighten($accordion-menu-sub-background, 2%);
$accordion-menu-list-padding: ($base-spacing / 2) $gutter;

// variables for modal
$base-border-color: #dcdcdc !default;
$base-border-radius: 3px !default;
$base-background-color: #fff !default;
$base-font-size: 1em !default;
$base-line-height: 1.5em !default;
$action-color: #477dca !default;
$dark-gray: #333 !default;
$light-gray: #ddd !default;
$medium-screen: 40em !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$modal-padding: 3em;
$modal-background: $base-background-color;
$modal-close-color: $light-gray;
$modal-image-height: 135px;
$modal-image-width: $modal-image-height;
$modal-trigger-image-width: 300px;

// variables for tables
$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: 40em !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$table-border-color: $base-border-color;
$table-border: 1px solid $table-border-color;
$table-background: lighten($table-border-color, 12%);
$table-header-background: lighten($table-background, 10%);
$table-hover-background: darken($table-background, 5%);
$table-stripe-background: darken($table-background, 2%);
$table-stripe-background-hover: darken($table-stripe-background, 5%);
$table-padding: 0.75em 1em;