@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "normalize";
@import "myVariables";
@import "myNavigation";
@import "myFooter";

* {
	// border: 1px solid red;
}

body {
	background: white;
	color: black;
	width: 100%;
}

#name-div {
	padding-top: 2em;
	position: relative;
	left: 40%;
	width: 15em;
	@include media($ltDesktop) {
		display: none;
	}
}

#headers {
	height: 30em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	h3 {
		clear: both;
		position: relative;
		width: 11em;
		text-align: center;
	}
}
.side-image {
  background: $side-image-content-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    background: url("./img/close-up1.jpg"),
                linear-gradient($side-image-background-top, $side-image-background-bottom),
                no-repeat $side-image-background-top;
    background-color: $side-image-background-top;
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 50em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: top;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }
  }

  @include reset-display();
}
