@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "myVariables";
@import "normalize";

body {
	background: white;
	color: black;
}
nav {
	background-color: $navColor;
	width: 100%;
	padding-top: 1em;
	@include outer-container;
	p {
		margin-left: 3em;
		@include span-columns(3);
	}
	ul {
		padding-left: 8em;
		@include span-columns(4);
		@include shift(4);
		li {
			display: inline-block;
		}
		#first {
			margin-right: 3em;
		}
		#second {
			margin-left: 2em;
		}
	}
}